<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration-Producer</title>
</head>
<body>
<h1>Producer Registration Form - Sign Up</h1>
<form th:action="@{/addProducer}" method="post" th:object="${customer}">
  <div class="cus-register-form">

    <div class="m-3">
      <div class="row">
        <label class="col-form-label col-4">First Name</label>

          <input type="text" class="col-8 form-field" field="*{prodFname}" name="prodFname" required/>

      </div>
      </br>

      <div class="row">
        <label class="col-form-label col-4">Last Name</label>

          <input type="text" class="col-8 form-field" field="*{prodLname}" name="prodLname" required/>

      </div>
      </br>


      <div class="row">
        <label class="col-form-label col-4">Address</label>
        <input type="text" class="col-8 form-field" field="*{prodAddress}" name="prodAddress" required/>

      </div>
      </br>
<!--8a ginei dropdown list-->
      <div class="row">
        <label class="col-form-label col-4">Area</label>
        <input type="text" class="col-8 form-field" field="*{prodArea}" name="cusPhonenr"required/>
      </div>
      </br>

      <div class="row">
        <label class="col-form-label col-4">Email</label>

          <input  type="email" class="col-8 form-field" field="*{prodEmail}" name="prodEmail"required/>

      </div>
      </br>

      <div class="row">
        <label class="col-form-label col-4">IBAN</label>

          <input  type="text" class="col-8 form-field" field="*{prodIban}" name="prodIban"required/>

      </div>
      </br>

      <div class="row">
        <label class="col-form-label col-4">Business Title</label>

          <input  type="text" class="col-8 form-field" field="*{prodBusTitle}" name="prodBusTitle" required/>

      </div>
      </br>

      <div class="row">
        <label class="col-form-label col-4">Username</label>

          <input  type="text" class="col-8 form-field" field="*{prodUsername}" name="prodUsername" required minlength="4" maxlength="10"/>

      </div>
      </br>


      <div class="row">
        <label class="col-form-label col-4">Password</label>

          <input  type="password" class="col-8 form-field" field="*{prodPassword}" name="prodPassword" required minlength="4" maxlength="10"/>

      </div>
      </br>


      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </div>
</form>
</body>
</html>


