<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Footer</title>
        </head>
        <body>
            <div class="containerFooter" th:fragment="footer">
                <!-- Start Footer -->
                <footer>
                    <div class="container">
                        <div class="row text-light text-center py-4 justify-content-center">

                            <div class="col-sm-10 col-md-8 col-lg-6">
                                <a th:href="@{/}" class="navbar-brand"><img id="logoimg" src="/img/logo.png"
                                                                            alt="Logo" title="Logo"></a>
                                <p>In this project we followed our ideology, tried and succeeded in connecting Producers with Customers
                                    that could not interchange themselves. Hope you enjoyed your experience with us. Thank you
                                </p>
                                <!--Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe deleniti, aspernatur
                                  consequatur earum distinctio fugit numquam rem explicabo illo excepturi repellat. -->
                                <!--   DEN EIMAI SIGOUROS GIA TA HREF POU STELNOUN MONO ARXIKI, NOMIZW KALUTERA NA BALOUME TA SOCIAL INFO WS APLA P
                                       <ul class="social pt-3">
                                         <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                         <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                         <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                         <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                       </ul>

                                       -->
                                <ul class="social pt-3">
                                    <li><i class="fab fa-facebook"></i> <p>facebook:ProducerApp</p></li></br>
                                    <li><i class="fab fa-instagram"></i><p>instagram:ProducerApp</p></li></br>
                                    <li><i class="fab fa-youtube"></i><p>youtube:ProducerApp</p></li></br>
                                    <li><i class="fa fa-envelope"></i><p>e-mail:producer-app.gmail.com</p></li></br>
                                </ul>

                            </div>

                        </div>
                    </div>
                </footer>
                <!-- End Of Footer -->

                <!-- Start Socket -->
                <div class="socket text-light text-center py-3">
                    <p>&copy; <a th:href="@{/#}">RM</a></p>
                </div>
                <!-- End Socket -->
            </div>
        </body>

</html>