<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- font awsome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
    <!-- FavIcon   -->
    <link rel="stylesheet" type="text/css" th:href="@{/img/faviconHome.png}"/>
    <!-- Style Css -->
    <link rel="stylesheet" href="/css/login_style.css">
    <!-- Custom Js link -->
    <link rel="stylesheet" href="/js">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--javascript for the toggle customer/producer-->
    <script type="text/javascript">
        function showCustomerLogIn() {
            document.getElementById("producer").style.display = "none";
            document.getElementById("customer").style.display = "block";
        }
    </script>
    <script type="text/javascript">
        function showProducerLogIn() {
            document.getElementById("customer").style.display = "none";
            document.getElementById("producer").style.display = "block";
        }
    </script>
</head>
<body>


<!-- Top Bar -->
<div class="top-bar">
    <div class="container">
        <div class="col-12 text-right">
            <div class="buttons text-right">
                <a th:href="@{sendToLogin}">Log In</a>
                <a th:href="@{sendToProducer}">Register</a>
            </div>
            <!--   <p id="banner-info"><a href="tel:+2108374924">Call us at 210(083)</a></p> -->
        </div>
    </div>
</div>
<!-- End Top Bar -->

<!-- Navigation bar-->
<nav class="navbar bg-light navbar-light navbar-expand-lg">
    <div class="container">

        <a th:href="@{/}" class="navbar-brand"><img id="logo" src="/img/logo.png"
                                                    alt="Logo" title="Logo"></a>


        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
                <li class="nav-item"><a th:href="@{sendToProductList}" class="nav-link ">Products</a></li>
                <li class="nav-item"><a th:href="@{sendToShopByCounty}" class="nav-link">Shop By County</a></li>
                <li class="nav-item"><a href="" class="nav-link">Contact Us</a></li>
                <li class="nav-item"><input type="text" placeholder="Search...." href="products"/></li>
                <li class="nav-item"><i class="fa fa-search" aria-hidden="true"></i></li>

            </ul>

        </div>
    </div>
</nav>


<!--START OF LOG IN FOR CUSTOMER AND PRODUCER WITH THE REGISTER TEMPLATE-->
<div class="container login">
    <div class="row">
        <div class="col-md-3 login-left">
            <img src="/images/logo_image.jfif" alt="">
            <h2>Welcome</h2>
            <p>Thank you for being registered in our Website! If you are not press the register button below to register</p>
            <a th:href="@{sendToRegister}">Register</a>
        </div>

        <div class="col-md-9 login-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="customer-tab" data-toggle="tab" href="#customer"
                       on-click="showCustomerLogIn()" role="tab" aria-controls="customer"
                       aria-selected="true">
                        Customer
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="producer-tab" data-toggle="tab" href="#producer"
                       on-click="showProducerLogIn()" role="tab" aria-controls="producer"
                       aria-selected="false">
                        Producer
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="customer" role="tabpanel" aria-labelledby="customer-tab">
                    <h3 class="login-heading">Login as a Customer</h3>
                    <div class="row login-form">
                        <div class="col-md-8">
                            <div class="log-form">
                                <form class="form-login" method="post" th:action="@{/loginUser}" th:object="${user}">
                                    <label for="username">Username</label>
                                    <input type="text" id="username" th:name="cusUsername" th:field="*{cusUsername}"></br>
                                    <label for="password">Password</label>
                                    <input type="password" id="password" th:name="password" th:field="*{cusPassword}"></br>
                                    <button type="submit" class="btn btn-primary">LogIn</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show" id="producer" role="tabpanel" aria-labelledby="producer-tab">
                    <h3 class="login-heading">Login as a Producer</h3>
                    <div class="row login-form">
                        <div class="col-md-8">
                            <div class="log-form">
                                <form class="form-login" method="post" th:action="@{/loginProducer}" th:object="${producer}">
                                    <label for="username">Username</label>
                                    <input type="text" id="username-prod" th:name="prodUsername" th:field="*{prodUsername}"></br>
                                    <label for="password">Password</label>
                                    <input type="password" id="password-prod" th:name="prodPassword" th:field="*{prodPassword}"></br>
                                    <button type="submit" class="btn btn-primary">LogIn</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>




<!--START OF FOOTER-->
<!--<div class="containerFooter" th:fragment="footer">
    <footer>
        <div class="container">
            <div class="row text-light text-center py-4 justify-content-center">

                <div class="col-sm-10 col-md-8 col-lg-6">
                    <a th:href="@{/}" class="navbar-brand"><img id="logoimg" src="/img/logo.png"
                                                                alt="Logo" title="Logo"></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe deleniti, aspernatur
                        consequatur earum distinctio fugit numquam rem explicabo illo excepturi repellat.
                    </p>
                    <ul class="social pt-3">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>                  -->
    <!-- Start Socket -->
<!--    <div class="socket text-light text-center py-3">
        <p>&copy; <a th:href="@{/#}">RM</a></p>
    </div>                 -->
    <!-- End Socket -->
<!--</div>   -->
<!--END OF FOOTER-->

<!-- Start Footer -->
<footer>
    <div class="container">
        <div class="row text-light text-center py-4 justify-content-center">

            <div class="col-sm-10 col-md-8 col-lg-6">
                <a th:href="@{/}" class="navbar-brand"><img id="logoimg" src="/img/logo.png"
                                                            alt="Logo" title="Logo"></a>
                <p>In this project we followed our ideology, tried and succeeded in connecting Producers with Customers
                    that could not interchange themselves. Hope you enjoyed your experience with us. Thank you
                </p>
                <!--Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe deleniti, aspernatur
                  consequatur earum distinctio fugit numquam rem explicabo illo excepturi repellat. -->
                <!--   DEN EIMAI SIGOUROS GIA TA HREF POU STELNOUN MONO ARXIKI, NOMIZW KALUTERA NA BALOUME TA SOCIAL INFO WS APLA P
                       <ul class="social pt-3">
                         <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                         <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                         <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                         <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                       </ul>

                       -->
                <ul class="social pt-3">
                    <li><i class="fab fa-facebook"></i> <p>facebook:ProducerApp</p></li></br>
                    <li><i class="fab fa-instagram"></i><p>instagram:ProducerApp</p></li></br>
                    <li><i class="fab fa-youtube"></i><p>youtube:ProducerApp</p></li></br>
                    <li><i class="fa fa-envelope"></i><p>e-mail:producer-app.gmail.com</p></li></br>
                </ul>

            </div>

        </div>
    </div>
</footer>
<!-- End Of Footer -->

<!-- Start Socket -->
<div class="socket text-light text-center py-3">
    <p>&copy; <a th:href="@{/#}">RM</a></p>
</div>
<!-- End Socket -->




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
<!--END OF LOG IN FOR CUSTOMER AND PRODUCER WITH THE REGISTER TEMPLATE-->
</body>
</html>