<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Customer Registration Form - Sign Up</h1>
<form th:action="@{/insertCustomer}" method="post" th:object="${customer}">
    <div class="cus-register-form">

        <div class="m-3">
            <div class="row">
                <label class="col-form-label col-4">First Name</label>
                <div class="col-8">
                    <input type="text" class="form-field" field="*{cusFname}" name="cusFname" required/>
                </div>
            </div>
            </br>

            <div class="row">
                <label class="col-form-label col-4">Last Name</label>
                <div class="col-8">
                    <input type="text" class="form-field" field="*{cusLname}" name="cusLname" required/>
                </div>
            </div>
            </br>


            <div class="row">
                <label class="col-form-label col-4">Email</label>
                <div class="col-8">
                    <input type="email" class="form-field" field="*{cusEmail}" name="cusEmail" required/>
                </div>
            </div>
            </br>

            <div class="row">
                <label class="col-form-label col-4">Phone Number</label>
                <div class="col-8">
                    <input type="number" class="form-field" field="*{cusPhonenr}" name="cusPhonenr"required/>
                </div>
            </div>
            </br>

            <div class="row">
                <label class="col-form-label col-4">Street Name</label>
                <div class="col-8">
                    <input type="text" class="form-field" field="*{cusStreet}" name="cusStreet"required/>
                </div>
            </div>
            </br>

            <div class="row">
                <label class="col-form-label col-4">Street Number</label>
                <div class="col-8">
                    <input type="text" class="form-field" field="*{cusStreetnr}" name="cusStreetnr"required/>
                </div>
            </div>
            </br>

            <div class="row">
                <label class="col-form-label col-4">Postal Code</label>
                <div class="col-8">
                    <input type="text" class="form-field" field="*{cusPostalc}" name="cusPostalC" required/>
                </div>
            </div>
            </br>

            <div class="row">
                <label class="col-form-label col-4">Username</label>
                <div class="col-8">
                    <input type="text" class="form-field" field="*{cusUsername}" name="cusUsername" required minlength="4" maxlength="10"/>
                </div>
            </div>
            </br>


            <div class="row">
                <label class="col-form-label col-4">Password</label>
                <div class="col-8">
                    <input type="password" class="form-field" field="*{cusPassword}" name="cusPassword" required minlength="4" maxlength="10"/>
                </div>
            </div>
            </br>


            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>
</body>
</html>


