<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:custom="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>login</title>

<!--        <link rel="stylesheet" href="/static/css/styleNav.css">-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/styleNav.css}"/>

    </head>
    <body>

    <h1>Login</h1>
    <h2>done</h2>
    <form method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"></br>
        <label for="password">Password</label>
        <input type="text" id="password" name="password"></br>
        <input type="button" value="login">
    </form>

    </body>
</html>